test_data/
assets/export_copy
assets/export

# cmkr
build*/
cmake-build*/
CMakeLists.txt.user
CMakeLists.txt
*.cache/

# other
*.ini
*.ttf
*.json
*.png
*.jpeg
.idea/
*.mp4

# some of my plans
VISION.md
.todo.toml
