/**/CMakeLists.txt linguist-generated
/**/cmkr.cmake linguist-vendored

*.ttf linguist-vendored
*.otf linguist-vendored
*.woff linguist-vendored
*.woff2 linguist-vendored
*.eot linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored
*.jpeg linguist-vendored
*.gltf linguist-vendored
*.glb linguist-vendored

src/core/ui/fonts/*.h linguist-vendored

assets/* linguist-vendored
