# Reference: https://build-cpp.github.io/cmkr/cmake-toml
[cmake]
version = "4.0.0"
cmkr-include = "cmkr.cmake"

[project]
name = "SaveManager"
# version = "1.0.0"
description = "The definitive local save manager"
languages = ["CXX"]

# TODO: define a target for each of your executables/libraries like this:
[target.savemanager]
type = "executable" # static, shared
sources = ["src/**.cpp"]
include-directories = ["external"]
compile-features = ["cxx_std_17"]
link-libraries = ["$<IF:$<BOOL:${VCPKG_TARGET_TRIPLET}>,libzip::zip,$<IF:$<PLATFORM_ID:Darwin>,${LIBZIP_LIBRARIES},zip>>", "$<IF:$<BOOL:${VCPKG_TARGET_TRIPLET}>,CURL::libcurl,$<IF:$<PLATFORM_ID:Darwin>,${CURL_LIBRARIES},curl>>"]
cmake-before = """
if(DEFINED VCPKG_TARGET_TRIPLET)
    find_package(libzip CONFIG REQUIRED)
    find_package(CURL REQUIRED)
elseif(APPLE)
    if(EXISTS "/opt/homebrew")
        list(APPEND CMAKE_PREFIX_PATH "/opt/homebrew")
    elseif(EXISTS "/usr/local")
        list(APPEND CMAKE_PREFIX_PATH "/usr/local")
    endif()
    find_package(PkgConfig REQUIRED)
    pkg_check_modules(LIBZIP REQUIRED libzip)
    pkg_check_modules(CURL REQUIRED libcurl)
    include_directories(${LIBZIP_INCLUDE_DIRS} ${CURL_INCLUDE_DIRS})
    link_directories(${LIBZIP_LIBRARY_DIRS} ${CURL_LIBRARY_DIRS})
endif()
"""
