# Reference: https://build-cpp.github.io/cmkr/cmake-toml
[cmake]
version = "4.0.0"
cmkr-include = "cmkr.cmake"

[project]
name = "SaveManager"
# version = "1.0.0"
description = "The definitive local save manager"
languages = ["CXX"]

# TODO: define a target for each of your executables/libraries like this:
[target.savemanager]
type = "executable" # static, shared
sources = ["src/**.cpp"]
include-directories = ["external"]
compile-features = ["cxx_std_17"]
link-libraries = ["$<IF:$<BOOL:${VCPKG_TARGET_TRIPLET}>,libzip::zip,zip>", "$<IF:$<BOOL:${VCPKG_TARGET_TRIPLET}>,CURL::libcurl,curl>"]
cmake-before = """
if(DEFINED VCPKG_TARGET_TRIPLET)
    find_package(libzip CONFIG REQUIRED)
    find_package(CURL REQUIRED)
endif()
"""
