# Reference: https://build-cpp.github.io/cmkr/cmake-toml
[cmake]
version = "4.0.0"
cmkr-include = "cmkr.cmake"

[project]
name = "SaveManager"
# version = "1.0.0"
description = "The definitive local save manager"
languages = ["CXX"]

# TODO: define a target for each of your executables/libraries like this:
[target.savemanager]
type = "executable" # static, shared
sources = ["src/**.cpp"]
include-directories = ["external"]
compile-features = ["cxx_std_17"]
link-libraries = ["zip", "curl"]
