[Desktop Entry]
Type=Application
Name=SaveManager
Comment=The swiss army knife of save management
Exec=savemanager
Icon=savemanager-icon.png
Terminal=false
Categories=Utility;
